:root {
	--scrollPos: 0;
}

* {
	box-sizing: border-box;
	/* font-family: "Abril Fatface", cursive; */
	font-family: "Special Elite", cursive;
}
h1 {
	font-family: "Abril Fatface", cursive;
	letter-spacing: 3px;
	font-size: 1.5em !important;
}

h3 {
	font-family: "Special Elite", cursive;
	letter-spacing: 3px;
	font-size: 1.2em;
	margin: 0.3em 0em 0em 0em;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/21.jpg");
	background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.rightContainer {
	/* border: 1px solid red; */
	/* height: 90vh; */
	max-width: 500px;
	/* overflow: hidden; */
	/* display: none; */
	display: none;
	min-width: 350px;
	flex: 1 1 0;
}

.itineraryWrapper {
	/* border: 1px solid red; */
	margin: 1em;
	padding-top: 0em;
	height: auto;
	/* display: none; */
	background-color: #ffffffb3;
	border-radius: 15px;
	border: 3px solid #d3ece3;
	text-align: center;
	display: none;
	padding: 0.5em;
	position: relative; /* kw added */
}

#itinerary-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.i1-park,
.i1-restaurant,
.i1-meetup,
.i1-concert {
	height: 24vh;
	width: 24vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.4em;
	margin: 0.4em;
	/* vertical-align: center; */
	position: relative;
	/* padding: 4em 0.2em; */
	border-radius: 5px;
	border: 2px solid rgb(255, 217, 217);
}

.i1-park {
	/* background-image: url("/src/images/park.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.i1-concert {
	/* background-image: url("/src/images/concert.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.i1-meetup {
	/* background-image: url("/src/images/meetup.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.i1-restaurant {
	/* background-image: url("/src/images/restaurant.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.iText {
	background: rgba(255, 255, 255, 0.973);
	/* padding: 0.3em; */
	/* padding-top: 0.3em; */
	margin: 0.2em 0.1em;
}

.searchResults {
	position: relative; /* kw added to position spinner */
	margin: 1em;
	padding: 1em;
	/* border: 1px solid red; */
	/* overflow: scroll; */
	max-height: 93vh;
	background-color: #ffffff;
	border-radius: 15px;
	border: 3px solid #d3ece3;
}

#search-results-container {
	overflow-x: hidden;
	height: -webkit-fill-available;
}

#search-results-container > section {
	border-bottom: 1px dotted rgba(230, 171, 171, 0.945);
	text-align: left;
}

#search-results-container::-webkit-scrollbar {
	width: 10px;
	background-color: #f08e8e93;
}
#search-results-container::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f08e8e;
}

#searchContainer {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	margin: 1em;
	margin-top: 40%;
	padding: 1em;
	justify-content: center;
	background-color: #ffffffb3;
	border-radius: 15px;
	border: 3px solid #d3ece3;
	text-align: center;
}

.textInput {
	align-self: center;
	padding: 1em;
}

.searchButtons {
	align-self: center;
	padding: 1em;
}

.searchBtn {
	margin: 0.3em;
	
}
.button {
	border: none;
	background: none;
	font-size: 20px;
	line-height: 2em;
	width: 100%;
	text-align: left;
}

.resultButton {
	color: #3a3a3a;
	transition: 0.1s
}

.resultButton:hover {
	color: #000000;
	
}

.pinPark {
	position: absolute;
	left: -18px;
	top: -15px;
	height: 3em;
}

.pinRestaurant {
	position: absolute;
	left: -1px;
	top: -12px;
	height: 3em;
}

.pinMeetup {
	position: absolute;
	left: 57px;
	top: -15px;
	height: 3em;
}

.pinConcert {
	position: absolute;
	left: 102px;
	top: -15px;
	height: 3em;
}

#details-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height: 100%;
	transform: translate(0px, var(--scrollPos));
	z-index: 4;
}
.details-wrap-show {
	visibility: visible;
}

.details-wrap-hide {
	visibility: hidden;
}

#details-page {
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height: 100%;
	max-height: 93vh;
	border: 7px solid pink;
	z-index: 5;
	background-color: white;
	border-radius: 15px;
	
	
}


.details-hide {
	-webkit-animation: details-hide .3s ease-out;
	animation: details-hide .3s ease-out;

}

@-webkit-keyframes details-hide {
	0% { transform: translate(-0%, 0px); filter: opacity(1) } 
	100% { transform: translate(-0%, 35px); filter: opacity(0)  }
  }
  
  @keyframes details-hide { 
	0% { transform: translate(-0%, 0px); filter: opacity(1) } 
	100% { transform: translate(-0%, 35px); filter: opacity(0)  }
  }

.details-show{
	visibility: visible;
	-webkit-animation: details-show .3s ease-out;
	animation: details-show .3s ease-out;
}

@-webkit-keyframes details-show {
	0% { transform: translate(-0%, 35px); filter: opacity(0) } 
	100% { transform: translate(-0%, 0px); filter: opacity(1)  }
  }
  
  @keyframes details-show { 
	0% { transform: translate(-0%, 35px); filter: opacity(0) } 
	100% { transform: translate(-0%, 0px); filter: opacity(1)  }
  }

  .hidden {
	visibility: hidden;
  }
/* #map {
	height: 100px;
    width: 100px;
} */

#save-to-itinerary {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#x-button {
	width: 25px;
	height: 20.8px;
	margin: 20px 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	outline: none;
}

#blue-x {
	width: 25px;
	height: 20.8px;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	filter: hue-rotate(315deg) opacity(0.7);
}

#x-circle {
	border-radius: 100%;
	border: 3px solid  #a2dac5;
	height: 40px;
	width: 40px;
	background-color: white;
	left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
}

.circle-grow {
	-webkit-animation: circle-grow .4s linear 1;
	animation: circle-grow .4s linear 1;
}


@-webkit-keyframes circle-grow {
	0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); height: 40px; width: 40px; }
	100% { -webkit-transform: translate(-50%, -50%) rotate(180deg); height: 50px; width: 50px; }
  }
  
  @keyframes circle-grow {
	0% { transform: translate(-50%, -50%) rotate(0deg); height: 40px; width: 40px; }
	100% { transform: translate(-50%, -50%) rotate(180deg); height: 50px; width: 50px; }
  }

/* Center the loader */
#spinner {
	position: absolute;
	margin: 0;
	top: 55%;
	left: 50%;
	width: 50px;
	height: 50px;
	border: 10px solid #e5f5ef;
	border-radius: 100%;
	border-top: 10px solid #b6ddcf;
	-webkit-animation: spin .4s linear infinite;
	animation: spin .4s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
	100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  #spinner-container {
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  bottom: 0px;
	  left: 0px;
  }

  #spinner-text {
	text-align: center;
	position: absolute;
	z-index: 1;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%)
  }