* {
	box-sizing: border-box;
	/* font-family: "Abril Fatface", cursive; */
	font-family: "Special Elite", cursive;
}
h1 {
	font-family: "Abril Fatface", cursive;
	letter-spacing: 3px;
	font-size: 1.5em !important;
}

h3 {
	font-family: "Special Elite", cursive;
	letter-spacing: 3px;
	font-size: 1.2em;
	margin: 0.3em 0em 0em 0em;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/21.jpg");
	background-size: cover;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.rightContainer {
	/* border: 1px solid red; */
	/* height: 90vh; */
	max-width: 500px;
	/* overflow: hidden; */
	/* display: none; */
	display: none;
	min-width: 350px;
	flex: 1 1 0;
}

.itineraryWrapper {
	/* border: 1px solid red; */
	margin: 1em;
	padding-top: 0em;
	height: auto;
	/* display: none; */
	background-color: #ffffffb3;
	border-radius: 15px;
	border: 3px solid #d3ece3;
	text-align: center;
	display: none;
}

#itinerary-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.i1-park,
.i1-restaurant,
.i1-meetup,
.i1-concert {
	height: 24vh;
	width: 29vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.4em;
	margin: 0.4em;
	/* vertical-align: center; */
	position: relative;
	/* padding: 4em 0.2em; */
	border-radius: 5px;
	border: 2px solid rgb(255, 217, 217);
}

.i1-park {
	/* background-image: url("/src/images/park.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.i1-concert {
	/* background-image: url("/src/images/concert.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.i1-meetup {
	/* background-image: url("/src/images/meetup.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.i1-restaurant {
	/* background-image: url("/src/images/restaurant.jpg"); */
	background-size: cover;
	/* display: hidden; */
}

.iText {
	background: rgba(255, 255, 255, 0.973);
	/* padding: 0.3em; */
	/* padding-top: 0.3em; */
	margin: 0.2em 0.1em;
}

.searchResults {
	margin: 1em;
	padding: 1em;
	/* border: 1px solid red; */
	/* overflow: scroll; */
	max-height: 91vh;
	background-color: #ffffffb3;
	border-radius: 15px;
	border: 3px solid #d3ece3;
}

#search-results-container {
	overflow-x: hidden;
	height: -webkit-fill-available;
}

#search-results-container > section {
	border-bottom: 1px dotted rgba(230, 171, 171, 0.945);
	text-align: left;
}

#search-results-container::-webkit-scrollbar {
	width: 10px;
	background-color: #f08e8e93;
}
#search-results-container::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f08e8e;
}

#searchContainer {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	margin: 1em;
	margin-top: 40%;
	padding: 1em;
	justify-content: center;
	background-color: #ffffffb3;
	border-radius: 15px;
	border: 3px solid #d3ece3;
	text-align: center;
}

.textInput {
	align-self: center;
	padding: 1em;
}

.searchButtons {
	align-self: center;
	padding: 1em;
}

.searchBtn {
	margin: 0.3em;
}
.button {
	border: none;
	background: none;
	font-size: 20px;
	line-height: 2em;
	width: 100%;
	text-align: left;
}
